*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    
}

.container{
    width: 510px;
    margin: 0 auto;
    margin-top: 100px;
    /* height: 500px; */
    

}

.tasks{
    border: 2px solid;
    /* width: 78%; */
    height: 57px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.insert-item{
    text-align: center;
    font-size: x-large;
    margin-top: 5vh;

}
.title_task{
    text-align: center;
}

#insert-item_button{
    width: 39px;
    padding: 0.2rem;
    background-color: white;
    border: 2px solid;
    box-shadow: 5px solid 10px;
    box-shadow: 2px 2px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
}

#inputNumber{
   
    padding: 0.4rem;
    width: 19%;
    margin-left: 20px;
    border: 2px solid;
}

#inputDate{
    width: 80px;
    border: 2px solid;
    padding: 0.2rem;
}

thead{
    background-color: #cccccc;
}

table{
    border: 2px solid;
    width: 100%;
}



#selectForm{
    margin-right: 72px;
    padding: 0.2rem;
    margin-left: 11px;
    border: 2px solid;
}

.btnDeleteTask{
    color: red;
    padding: 7px;
    font-weight: 600; 
    font-size: 1rem;
    text-align: center;    
}


.tr-cor{
    background-color: #D4DDE0;
}

tr:nth-child(even) {
    background-color: #FEFEFE;
}

.cabecalho{
    background-color: #cccccc;
}

.resultado{
    font-size: 2rem;
    text-align: center;
    margin-top: 24px;
    font-weight: 100;
}
