*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;  
}
.container{
    width: 510px;
    margin: 100px auto;
}
.tasks{
    
    border: 2px solid;
    height: 57px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insert-item{
    text-align: center;
    font-size: x-large;
    margin: 5vh;
}
.title_task{
    text-align: center;
}
.formModality_buttonAdd{
    width: 39px;
    padding: 0.2rem;
    background-color: white;
    border: 2px solid;
    box-shadow: 2px 2px;
}
.linha-separadora{
    margin: 20px 0 20px 0;
    border: 1px solid;
}
.formModality_inputTime{
    padding: 0.4rem;
    width: 19%;
    margin:0 0 0 20px;
    border: 2px solid;
}
.formModality_inputDate{
    width: 80px;
    border: 2px solid;
    padding: 0.2rem;
}
.tableInformation_thead{
    background-color: #cccccc;
}
.tableInformation{
    border: 2px solid;
    width: 100%;
}
.formModality_select{
    margin: 0 72px 0 11px;
    padding: 0.2rem;
    border: 2px solid;
}
.btnDeleteTask{
    color: red;
    padding: 7px;
    font-weight: 600; 
    font-size: 1rem;
    text-align: center;    
}
.tr-cor{
    background-color: #D4DDE0;
}

tr:nth-child(even) {
    background-color: #FEFEFE;
}

.cabecalho{
    background-color: #cccccc;
}

.resultado{
    font-size: 2rem;
    text-align: center;
    margin: 24px;
    font-weight: 100;
}

@media(max-width:768px){

    .tasks{
        width: 50%;
        height: 120px; 
    }
    .formModality_inputTime {
        padding: 0.5rem;
        width: 45%;
        margin:0 0 0 8px;
        font-size: 1rem;
    }
    .formModality_select{
        padding: 0.4rem;
        margin: 0 auto;
        font-size: 1rem;
    }
    .formModality_inputDate{
        width: 45%;
        padding: 0.5rem;
        margin: 11px 0 0 8px;
    }
    .formModality_buttonAdd{
        width: 45%;
        padding: 0.5rem;
    }    
    .tableInformation{
        border: 2px solid;
        width: 89%;
        margin: 20px auto;
        text-align: center;
    }
    .linha-separadora{
        display: none;
    }
}